@page 
@model krogercart.Pages_ProductCarts.DetailsModel

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/img/productimage.jpg" class="img-fluid rounded-start" alt="@Model.ProductCart.Product.Name">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.ProductCart.Product.Name</h5>
                <p class="card-text">Price per Unit: @Model.ProductCart.Product.Price.ToString("C")</p>
                <p class="card-text">Quantity: @Model.ProductCart.Quantity</p>
                <p class="card-text"><strong>Total Price:</strong>$ @(Model.ProductCart.Quantity * Model.ProductCart.Product.Price)</p>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-secondary">Back to Cart</a>
</div>