@page
@model krogercart.Pages_ProductCarts.IndexModel

@{
    ViewData["Title"] = "Cart Items";
}

<h1>Items in Your Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCart[0].Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCart[0].Quantity)
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProductCart)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @((item.Quantity * item.Product.Price).ToString("C"))
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ProductCartID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ProductCartID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ProductCartID">Delete</a>
                </td>
        </tr>
    }
    </tbody>
</table>